//VERSION DE ESCRITORIO
@media (min-width:1024px) {

    .collapse {
        font-size: 2.5rem;
        font-family: "Roboto", sans-serif;
        width: 100%;
        letter-spacing: 0.2rem;
        color: #383838;
        font-weight: bold;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }

    #btnContacto {
        border: 0.35rem solid #338f5f;
        border-radius: 20px;
        font-weight: bold;

        &:hover {
            background-color: #338f5f;
            color: aliceblue;
        }
    }
}

//VERSION DE CELULAR
@media (max-width:767px) {

    header {
        width: 100%;
        height: 7.5vh;
        padding-top: 1%;
        padding-bottom: 1%;
        background:$fondo-gris;
        position: relative;
        text-align: center;
    

        #logoPrincipal {
            width: 8rem;
            height: 8rem;
            display: inline-block;
        }
    }

    .collapse {
        font-size: 2.5rem;
        font-family: "Roboto", sans-serif;
        width: 100%;
        letter-spacing: 0.2rem;
        color: #383838;
        font-weight: bold;
        
        
        //z-index: 10;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
        

        .botonCangreBurger {
            height: 5rem;
            width: 5rem;
        }

        .fuentesNav {
            font-size: 2rem;
        }
    }

    
}