@import "variables";
@import "header";
@import "footer";
@import "maps";
@import "extend";
@import "mixin";

* {
    margin: 0;
    padding: 0;
}

/*** 10px = 1rem ***/

html {
    font-size: 62.5%;
}

footer {
    margin-bottom: 0.5%;
}

/*Estilos de Google*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@500&display=swap');

#headerAndCarrusel {
    width: 100vw;
    height: 100vh;
    margin-bottom: 3.8rem;
}

//VERSION DE ESCRITORIO
@media (min-width:1024px) {

    //INDEX
    .bodyPadreGrid {
        display: grid;
        grid-template-areas:
            "header header"
            "carrusel carrusel"
            "nosotros imgStaff"
            "footer footer";
    }

    header {
        grid-area: header;
    }

    footer {
        grid-area: footer;
    }

    .carousel {
        grid-area: carrusel;
    }

    .nosotros {
        grid-area: nosotros;
    }

    #imgStaff {
        grid-area: imgStaff;
    }

    #logoPrincipal {
        width: 8.5rem;
    }

    //Body
    // "Carrusel"
    .carousel {
        width: auto;
        margin-bottom: 1%;
    }

    .imgCarousel {
        height: 1056px;
        object-fit: cover;
    }

    //Nosotros
    .nosotros {
        display: inline-block;
        margin: auto;
        margin-left: 3%;
        margin-right: 3%;

        

        #infoNosotros {
            margin-top: 2%;
            font-size: 2.3rem;
            color: black;
        }
    }

    #imgStaff {
        height: 35rem;

        .imgStaff {
            width: 100%;
            height: 100%;
        }
    }

    //SERVICIOS

    .bodyPadreGridServicios {
        display: grid;
        grid-template-areas:
            "header"
            "tituloServicios"
            "evInfantiles"
            "evJovenes"
            "evAdultos"
            "footer"
        ;
    }

    .tituloServicios {
        grid-area: tituloServicios;
    }

    .eventosInfantiles {
        grid-area: evInfantiles;
    }

    .eventosJovenes {
        grid-area: evJovenes;
    }

    .eventosAdultos {
        grid-area: evAdultos;
    }

    p {
        font-size: 2.3rem;
    }

    .tituloServicios {
        text-align: center;
        margin-top: 2%;
    }

    .serviciosHijo {
        background-color:$fondo-gris;
        height: auto;
        width: 80%;
        border: 1px black solid;
        border-radius: 4px;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 2%;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        h2 {
            width: 15%;
        }

        p {
            font-size: 2.3rem;
            margin-left: 2%;
            margin-right: 2%;
            width: 50%;
        }

        img {
            width: 35rem;
            height: 35rem;
        }
    }

    //GASTRONOMIA

    .bodyPadreGridGastronomia {
        display: grid;
        grid-template-areas:
            "header header header header"
            "gastronomia gastronomia gastronomia gastronomia"
            "catering pizza bebidas pernil"
            "footer footer footer footer"
        ;
    }

    .gastronomia {
        grid-area: gastronomia;
    }

    .catering {
        grid-area: catering;
    }

    .pizzaParty {
        grid-area: pizza;
    }

    .pernil {
        grid-area: pernil;
    }

    .bebidas {
        grid-area: bebidas;
    }

    article ul li {
        font-size: 2.1rem;
    }

    .tituloPrincipalSinFlex {
      
        text-align: center;
        margin: 3%;
    }

    .gastronomiaPadre {
        width: 98vw;
        height: auto;
        border-radius: 4px;
        display: flex;

        .gastronomiaHijo {
            background-color:$fondo-gris;
            height: auto;
            width: 95%;
            border: 1px black solid;
            border-radius: 4px;
            margin-left: 0.31%;
            margin-right: 0.31%;
            padding-top: 2%;
            padding-bottom: 2%;

            display: inline-flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 20rem;
                height: 20rem;
            }

            p {
                padding: 5%;
            }
        }
    }

    //CONTACTO
    .bodyPadreGridContacto {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }

    .formulario {
        background-color:$fondo-gris;
        text-align: center;
        margin: 5rem;
        padding: 3rem;
        border: solid 1px black;
        border-radius: 4px;

        .contenedor {
            h2 {
                font-size: 3rem;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 20px;
                margin-bottom: 3.5rem;
            }
        }

        .campo {
            display: block;
            width: 50%;
            padding: 1rem;
            margin: 1% auto;
            font-size: 1.8rem;
        }

        .boton {
            color: black;
            background-color: #4ec97d;
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            border-radius: 4px;

            transition: height 0.5s, width 0.5s;

            .boton:hover {
                background-color: #358654;
                height: 60px;
                width: 150px;
            }
        }
    }

    //SALONES
    .bodyPadreGridSalones {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;

    }

    .bordeSalones {
        border: 1px black solid;
        width: 90vw;
        margin: auto;
        background-color:$fondo-gris;
        border: 1px black solid;
        border-radius: 4px;
        margin-bottom: 5%;

        .nombresSalones {
            margin-top: 2%;
            margin-bottom: 2%;
            text-align: center;
        }

        .salonesHijo {
            height: auto;
            width: 95%;

            margin-left: 0.31%;
            margin-right: 0.31%;
            padding-top: 2%;
            padding-bottom: 2%;

            display: flex;
            align-items: center;
            justify-content: center;

            .listaSalones {
                width: 50%;

                ul {
                    list-style: circle;
                    font-size: 2.1rem;
                    padding-left: 15%;
                }
            }
        }

        .imgSalones {
            width: 70%;
            object-fit: cover;
        }

        .maps {
            text-align: center;
            margin-bottom: 1%;

            iframe {
                width: 90%;
            }
        }
    }
}

//VERSION DE CELULAR
@media (max-width:767px) {

    //INDEX
    .bodyPadreGrid {
        display: grid;
        grid-template-areas:
            "header header"
            "carrusel carrusel"
            "nosotros nosotros"
            "imgStaff imgStaff"
            "footer footer";
    }

    header {
        grid-area: header;
    }

    footer {
        grid-area: footer;
    }

    .carousel {
        grid-area: carrusel;
    }

    .nosotros {
        grid-area: nosotros;
    }

    #imgStaff {
        grid-area: imgStaff;
    }

    //Body
    //"Carrusel"
    .carousel {
        width: auto;
        margin-top: 1%;
        margin-bottom: 1%;

        .imgCarousel {
            height: 600px;
            object-fit: cover;
        }
    }

    //Nosotros
    .nosotros {
        display: inline-block;
        margin: auto;

        .titulosPrincipales {
            margin-top: 2%;
            margin-bottom: 2%;
        }

        #infoNosotros {
            margin-top: 2%;
            margin-bottom: 2%;
            font-size: 1.7rem;
            color: black;
        }
    }

    #imgStaff {
        height: 35rem;

        .imgStaff {
            width: 100%;
            height: 100%;
        }
    }

    //SERVICIOS
    .bodyPadreGridServicios {
        display: grid;
        grid-template-areas:
            "header"
            "tituloServicios"
            "evInfantiles"
            "evJovenes"
            "evAdultos"
            "footer";
    }

    .tituloServicios {
        grid-area: tituloServicios;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 4%;
    }

    .eventosInfantiles {
        grid-area: evInfantiles;
    }

    .eventosJovenes {
        grid-area: evJovenes;
    }

    .eventosAdultos {
        grid-area: evAdultos;
    }

    p {
        font-size: 1.7rem;
    }

    .tituloServicios {
        text-align: center;
        margin: 3%;
        margin-top: 7%;
    }

    .serviciosHijo {
        background-color:$fondo-gris;
        height: auto;
        width: 80%;
        border: 1px black solid;
        border-radius: 4px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 2%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        h2 {
            width: 100%;
        }

        p {
            margin-top: 3%;
            margin-bottom: 3%;
            width: 95%;
        }

        img {
            width: 30rem;
            height: 30rem;
        }
    }

    //GASTRONOMIA
    .bodyPadreGridGastronomia {
        display: grid;
        grid-template-areas:
            "header"
            "gastronomia"
            "catering""pizzaparty"
            "pernil"
            "bebidas"
            "footer";
        justify-content: center;
    }

    .catering {
        grid-area: catering;
    }

    .pizzaParty {
        grid-area: pizzaparty;
    }

    .pernil {
        grid-area: pernil;
    }

    .bebidas {
        grid-area: bebidas;
    }

    article ul li {
        font-size: 2.1rem;
    }

    .tituloPrincipalSinFlex {
        text-align: center;
        margin: 3%;
        margin-top: 7%;
    }

    .gastronomiaHijo {
        background-color:$fondo-gris;
        height: auto;
        width: 50%;
        border: 1px black solid;
        border-radius: 4px;
        margin: auto;
        margin-bottom: 1%;
        margin-top: 1%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 20rem;
            height: 20rem;
        }
    }

    /* CONTACTO */
    .bodyPadreGridContacto {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .formulario {
        background-color:$fondo-gris;
        text-align: center;
        margin: 5rem;
        padding: 3rem;
        border: solid 1px black;
        border-radius: 4px;

        .contenedor {
            h2 {
                font-size: 3rem;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 20px;
                margin-bottom: 3.5rem;
            }
        }

        .campo {
            display: block;
            width: 50%;
            padding: 1rem;
            margin: 1% auto;
            font-size: 1.8rem;
        }

        .boton {
            color: black;
            background-color: #4ec97d;
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            border-radius: 4px;

            transition: height 0.5s, width 0.5s;

            &:hover {
                background-color: #358654;
                height: 50px;
                width: 30%;
            }
        }
    }

    //SALONES
    .bodyPadreGridSalones {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .tituloSalones {
        margin-top: 7%;
        margin-bottom: 5%;
    }


    .bordeSalones {
        border: 1px black solid;
        width: 90vw;
        margin: auto;
        background-color:$fondo-gris;
        border: 1px black solid;
        border-radius: 4px;
        margin-bottom: 5%;

        .nombresSalones {
            margin-top: 2%;
            margin-bottom: 2%;
            text-align: center;
        }


        .salonesHijo {
            height: auto;
            width: 95%;
            padding-top: 2%;
            padding-bottom: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .listaSalones {
                width: 50%;

                ul {
                    list-style: circle;
                    font-size: 2.1rem;
                    padding-left: 15%;
                }
            }
        }

        .imgSalones {
            width: 100%;
            margin-left: 5%;
            text-align: center;
            object-fit: cover;
        }

        .maps {
            iframe {
                width: 100%;
                text-align: center;
            }
        }
    }
}